<div>
<a>Adopted dragons:</a> - <a href="/dragons">Return</a><br><br>
  <a>
    <% @dragons.each do |dragon| %>
    <div class="clearfix float-my-children">
    <img src="/images/<%=dragon.type%>.png" alt="Cover" height="200" width="200"><br>
    <%= dragon.name  %> <br>
    <% end %>
  </a>
</div>