<div>
  <% @dragons.each do |dragon| %>
  <a href="/dragons/<%= dragon.id  %>"><%= dragon.name %></a>  - <%= dragon.type %><br><hr>
  <% end %>

  <!-- <a href="/books/new">Add new book</a><br> -->
</div>