<h2>Add Dragon</h2>

<form action="/dragons" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name"><br>

  <label for="type">Type:</label>
  <input type="text" name="type"><br>

  <input type='submit' value="Add Dragon">
</form>


<br>
<br>
<a href="/">Back</a>