
<img src="/images/<%=@adoption.dragon.type%>.png" alt="Cover" height="200" width="150">
<a>
  <%= @adoption.dragon.name %> has been adopted by <%= @adoption.owner.name %>
</a>
<img src="/images/<%=@adoption.owner.name%>.png" alt="Cover" height="200" width="150">
<br>
<br>

<a href="/adoptions">Return</a><br>
