<div>
  

  <h2>Welcome to the Scottish Dragon Shelter</h2>


  <a>Total dragons : <%= @number_of_dragons %></a><br> 
  <a>Total owners : <%= @number_of_owners %></a><br> 

  <a>Total trained/adoptable dragons : <%= @number_of_adoptable_dragons %></a><br> 
  <a>Total adopted dragons : <%= @number_of_adopted_dragons %></a><br> <br>
</div>