<!DOCTYPE html>
<html>
<head>
  <title>Dragon Shelter</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <div class="go_left">
      <div class="logo">Dragon Shelter</div>
    </div>
    <div class="go_right">
      <ul>
        <li><a href="/dragons">Dragons</a></li>
        <li><a href="/owners">Owners</a></li>
        <li><a href="/adoptions">Adoptions</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <%= yield %>
  </main>
  <footer>Dragon Shelter &copy 2016</footer>
</body>
</html>