h1{
  font-family: "Twiddlestix";
  color: White
}

h2{
  font-family: "Twiddlestix";
  color: #422822
}
/*------------------------------------------------------------------*/
a{
  font-family: "Twiddlestix";
  color: #422822
}



/*------------------------------------------------------------------*/
.title{
  font-family: "Twiddlestix";
  padding: 10px;
  
  text-align: left;
  background-color: #717F9A
}
/*------------------------------------------------------------------*/
.date{
  font-family: "Twiddlestix";
  padding: 10px;
  float: right;
  margin-right: 0px;
  text-align: right;
  background-color: #717F9A
}
/*------------------------------------------------------------------*/
.navigation{
  padding: 1px;
  font-size: 34px;
  font-variant: small-caps;
  font-family: "Twiddlestix";
  text-align: center;
  background-color: #D7E7EB
}

.navigation a{
  text-decoration: none;
}

/*------------------------------------------------------------------*/
input{
  font-family: "Twiddlestix";
}
/*------------------------------------------------------------------*/
body {
    ;
}

/*-------------------------------------------------------------------*/
.grid{
}
/*-------------------------------------------------------------------*/
.grid-row{
  display: flex;
  flex-direction: column;
}
/*-------------------------------------------------------------------*/
.cell{
  flex: 1;
  padding: 1px;
}
/*-------------------------------------------------------------------*/
/*media queries*/

@media all and ( min-width: 480px){
  .grid-row-sm{
    flex-direction: row;
  }
}

@media all and ( min-width: 720px){
  .grid-row-md{
    flex-direction: row;
  }
}

@media all and ( min-width: 960px){
  .grid-row-lg{
    flex-direction: row;
  }
}













