h1{
  font-family: "Twiddlestix";
  color: White
}

h2{
  font-family: "Twiddlestix";
  color: #422822
}
/*------------------------------------------------------------------*/
a{
  font-family: "Twiddlestix";
  color: #422822
}



/*------------------------------------------------------------------*/
.title{
  font-family: "Twiddlestix";
  padding: 10px;
  
  text-align: left;
  background-color: #717F9A
}
/*------------------------------------------------------------------*/
.date{
  font-family: "Twiddlestix";
  padding: 5px;
  float: right;
  margin-right: 0px;
  text-align: right;
  background-color: #717F9A
}
/*------------------------------------------------------------------*/
.navigation{
  padding: 1px;
  font-size: 34px;
  font-variant: small-caps;
  font-family: "Twiddlestix";
  text-align: center;
  background-color: #D7E7EB
}

.navigation a{
  text-decoration: none;
}

/*------------------------------------------------------------------*/
input{
  font-family: "Twiddlestix";
}
/*------------------------------------------------------------------*/
body {
    ;
}

/*-------------------------------------------------------------------*/
.grid{
  background-color: #717F9A
}
/*-------------------------------------------------------------------*/
.grid-row{
  display: flex;
  flex-direction: column;
}
/*-------------------------------------------------------------------*/
.cell{
  flex: 1;
  padding: 1px;
}

.cell a{
  color: White;
  text-align: right;
}

/* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* end clearfix*/




/*-------------------------------------------------------------------*/
/*media queries*/

@media all and ( min-width: 480px){
  .grid-row-sm{
    flex-direction: row;
  }
}

@media all and ( min-width: 720px){
  .grid-row-md{
    flex-direction: row;
  }
}

@media all and ( min-width: 960px){
  .grid-row-lg{
    flex-direction: row;
  }
}













