<div>
  <% @owners.each do |owner| %>
  <a href="/owners/<%= owner.id %>"><%= owner.name %></a>  of  <%= owner.address  %><br><hr>
  <% end %>

  <!-- <a href="/members/new">Add New Member</a><br> -->
</div>