<%= @owner.name %> of <%= @owner.address %> <br><br>

<a href="/owners/<%= @owner.id %>/edit">Edit</a>

<form action="/owners/<%= @owner.id %>" method="post">
<input type="submit" value="delete"/>
<input name="_method" type="hidden" value="delete"/>
</form>